<section class="reviews-front section">
	<div class="container">
		<h2 class="section__title">Отзывы наших клиентов</h2>
		<div class="section__text centered">
			<p class="text">Мы выполняем все работы качественно и в срок. <br>Клиенты всегда довольны сотрудничеством с нашей компанией</p>
		</div>
		<div class="section__content">
			<div class="reviews">
				<div class="reviews__item">
					<div class="reviews__img">
						<img src="images/img-reviews-1.jpg" alt="">
					</div>
					<div class="reviews__content">
						<h3 class="reviews__title">GlassBel</h3>
						<p class="reviews__text">СП “Завод стеклопакетов и архитектурного стекла” ООО выражает благодарность ООО “Стройпрестиж” за выполнение строительно-монтажных работ, а именно текущего ремонта...</p>
						<b class="reviews__author">М. В. Акулич</b>
						<span class="btn btn_yellow reviews__btn">Читать далее +</span>
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews__img">
						<img src="images/img-reviews-2.jpg" alt="">
					</div>
					<div class="reviews__content">
						<h3 class="reviews__title">ООО "Стройнапарники"</h3>
						<p class="reviews__text">В процессе сотрудничества с нашей компанией ООО “Стройпрестиж” зарекомендовала себя с положительной стороны, как хороший и добросовествный исполнитель...</p>
						<b class="reviews__author">А. Н. Иванов</b>
						<span class="btn btn_yellow reviews__btn">Читать далее +</span>
					</div>
				</div>
				<div class="reviews__item reviews__item_banner">
					<div class="more-info">
						<div class="more-info__banner">
							<div class="reviews__img">
								<img src="images/img-reviews-3.jpg" alt="">
							</div>
							<div class="reviews__content">
								<h3 class="reviews__title"><a href="#">Офисы под ключ в Минске</a></h3>
							</div>
						</div>
						<div class="more-info__best-review">
							<span class="more-info__tip"><i>"ООО Стройпрестиж зарекомендовали себя соответствующим ТНПА качеством"</i></span>
							<b class="more-info__tip-name">ИООО <a href="#">ЛУКОЙЛ Белоруссия</a></b>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>