<section class="clients-front section section_dark">
	<div class="container">
		<h2 class="section__title">Наши клиенты</h2>
		<div class="section__text centered">
			<p class="text">Мы предлагаем также решения для юридических лиц и компаний. Работаем по безналичному расчету</p>
		</div>
		<div class="section__content"></div>
	</div>
	<div class="slider-clients slider">
		<div class="slider-clients__container slider__container">
			<div class="slider-clients__controls slider__controls">
	        <span class="slider__arrow slider__arrow_prev arrow-btn arrow-btn_left"></span>
	        <span class="slider__arrow slider__arrow_next arrow-btn arrow-btn_right"></span>
	    </div>
	    <div class="slider-clients__inner-wrapper slider__inner-wrapper container">
				<div class="slider-clients__slide slider__slide">
					<div class="slider-clients__content centered">
						<div class="slider-clients__img slider__slide-img">
							<img src="images/bg-slider-clients-1.jpg" alt="">
						</div>
						<img src="images/slider-clients-1.png" alt="" class="slider-clients__logo">
					</div>
				</div>
				<div class="slider-clients__slide slider__slide">
					<div class="slider-clients__content centered">
						<div class="slider-clients__img slider__slide-img">
							<img src="images/bg-slider-clients-2.jpg" alt="">
						</div>
						<img src="images/slider-clients-2.png" alt="" class="slider-clients__logo">
					</div>
				</div>
				<div class="slider-clients__slide slider__slide">
					<div class="slider-clients__content centered">
						<div class="slider-clients__img slider__slide-img">
							<img src="images/bg-slider-clients-3.jpg" alt="">
						</div>
						<img src="images/slider-clients-3.png" alt="" class="slider-clients__logo">
					</div>
				</div>
				<div class="slider-clients__slide slider__slide">
					<div class="slider-clients__content centered">
						<div class="slider-clients__img slider__slide-img">
							<img src="images/bg-slider-clients-4.jpg" alt="">
						</div>
						<img src="images/slider-clients-4.png" alt="" class="slider-clients__logo">
					</div>
				</div>
				<div class="slider-clients__slide slider__slide">
					<div class="slider-clients__content centered">
						<div class="slider-clients__img slider__slide-img">
							<img src="images/bg-slider-clients-2.jpg" alt="">
						</div>
						<img src="images/slider-clients-2.png" alt="" class="slider-clients__logo">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>