<header class="header">
	<div class="container">
		<a href="#" class="header__logo">
			<img src="images/logo.svg" alt="">
		</a>
		<nav class="header-nav">
			<ul class="header-nav__list">
				<li class="header-nav__item">
					<a href="#" class="header-nav__link">О компании</a>
					<ul class="header-nav-drop__list">
						<li class="header-nav-drop__item">
							<a href="#" class="header-nav-drop__link">Юр. лицам</a>
						</li>
						<li class="header-nav-drop__item">
							<a href="#" class="header-nav-drop__link">Сертификаты</a>
						</li>
						<li class="header-nav-drop__item">
							<a href="#" class="header-nav-drop__link">Цены</a>
						</li>
					</ul>
				</li>
				<li class="header-nav__item">
					<a href="#" class="header-nav__link">Услуги</a>
				</li>
				<li class="header-nav__item">
					<a href="#" class="header-nav__link active">Проекты</a>
				</li>
				<li class="header-nav__item">
					<a href="#" class="header-nav__link">Отзывы</a>
				</li>
				<li class="header-nav__item">
					<a href="#" class="header-nav__link">Контакты</a>
				</li>
			</ul>
		</nav>
		<span class="btn btn_yellow header__call"><i class="fa fa-phone"></i><span>Заказать звонок</span></span>
	</div>
</header>