<section class="about-front section">
	<div class="container">
		<h2 class="section__title">Строительная компания «Стройпрестиж»</h2>
		<div class="section__text">
			<p class="text">Мы занимаемся производством ремонтно-строительных работ и располагаем современным инженерно-техническим оборудованием, позволяющим обеспечить качественный уровень работ при использовании как традиционных, так и передовых технологий.</p>
			<div class="section__content">
				<img src="images/img-about-front.jpg" alt="" class="about-front__img">
				<h3 class="section__subtitle">Технология работ</h3>
				<p class="text text_small">Технология выполняемых работ, включая функции контроля, осуществляется в соответствии со всеми существующими в Республике Беларусь техническими стандартами, строительными нормами и правилами.</p>
				<p class="text text_small">Подбор технических средств формируется в зависимости от объекта.</p>
				<p class="text text_small">В числе поставщиков различных строительных и отделочных материалов, оборудования, предметов технического оснащения, проверенные и лидирующие на рынке отечественные и зарубежные производители.</p>
				<a href="#" class="btn btn_yellow">
					<span>Подробнее</span>
					<i class="ico ico_img">
						<img src="images/ico/arrow-right-3.svg" alt="">
					</i>
				</a>
			</div>
		</div>
	</div>
</section>